<footer id="gtco-footer" role="contentinfo" style="background-image: url(images/menus.jpeg)" data-stellar-background-ratio="1.0">
    <div class="overlay"></div>
        <div class="container">


              <div class="row mb-3">           
                <div class="col-md-12 themed-grid-col text-center display-2 p-5">Parceiros</div>
              </div>
              <div class="row mb-3">
                <div class="col-6 col-md-3 themed-grid-col"><img src="images/mates/1.png"></div>
                <div class="col-6 col-md-3 themed-grid-col"><img src="images/mates/4.png"></div>
                <div class="col-6 col-md-3 themed-grid-col"><img src="images/mates/3.png"></div>
                <div class="col-6 col-md-3 themed-grid-col"><img src="images/mates/5.png"></div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 themed-grid-col text-center display-2 p-5">Redes Sociais</div>
              </div>
              <div class="row mb-3 social-icons">
                <div class="col-6 col-md-4 themed-grid-col"></div>
                <div class="col-6 col-md-1 themed-grid-col">
                    <a href="https://twitter.com/hcodebr">
                    <i class="icon-twitter"></i></a>
                </div>
                <div class="col-6 col-md-1 themed-grid-col">
                    <a href="https://www.facebook.com/hcodebr">
                        <i class="icon-facebook"></i>
                    </a>
                </div>
                <div class="col-6 col-md-1 themed-grid-col">
                    <a href="https://www.linkedin.com/company/grupo-hcode/">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
                <div class="col-6 col-md-1 themed-grid-col">
                    <a href="https://www.youtube.com/channel/UCjWENuSH2gX55-y7QSZiWxA">
                        <i class="icon-youtube"></i>
                    </a>
                </div>
                <div class="col-6 col-md-4 themed-grid-col"></div>
              </div>


                <div class="col-md-12 text-center copyright">
                    <p>
                        <small class="block">&copy; Um trabalho desenvolvido em parceria com a Hcode</small>
                        <small class="block">Nossos agradecimentos a
                            <a href="https://www.hcode.com.br" target="_blank">Hcode.com.br</a>
                        </small>
                    </p>
                </div>           
        </div>
    </div>
</footer>

