<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- Estilo customizado -->
    
    <title>+ Coleta</title>
  </head>
  <body>

<div class="gtco-section" style="padding-bottom: 2em;">
    <div class="gtco-container">
        <div class="row animate-box">
       
          <div class="title text-center col-lg-12 col-md-12 col-sm-12">

              <div class="topo text-right">

                  
                      <div class="row">
                          <div class="logo col-sm text-left">
                            <img src="images/coleta.png" alt="Coleta_logo" width="200px" class="text-center">
                          </div>
                          <div class="col-sm ">
                            <h3 class="box-title"></h3>
                            <a href="#" class="btn btn-xs pull-right btn-lg btn-outline-success" data-toggle="modal" data-target="#modal-create">Logar</a>
                          </div>
                        </div>
                     
                      <!-- /.box-header -->
                      
                  </div>

                  <div class="modal fade" id="modal-create">
                      <div class="modal-dialog">
                        <div class="modal-content" style="border-top: 3px solid #00a65a;">
                          
                          <form method="post" action="">

                            <div class="modal-header text-center">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h4 class="modal-title"></h4>
                            </div>


                            <div class="container">
                              <div class="row mb-3">           
                                  <div class="col-md-12 themed-grid-col text-center p-2 bg-success text-light">Escolha o seu Usuário</div>
                              </div>
                                <div class="row">
                                  <div class="col-sm gtco-heading text-center">                                  
                                    <a href="/admin/login">
                                      <h2 id="hfonte" class>Administrador</h2>
                                        <p>Admnistrators</p>
                                          <div class="icon-us">
                                            <i class="fas fa-user-shield"></i>
                                          </div></a>                                 
                                  </div>
                                  <div class="col-sm gtco-heading text-center">  
                                    <a href="/login">
                                      <h2 id="hfonte" class>Usuário</h2>
                                        <p>Users</p>
                                          <div class="icon-us">
                                            <i class="fas fa-users"></i>
                                          </div></a>                                  
                                  </div>
                                </div>
                                  <br><br>
                                <div class="row mb-3">           
                                  <div class="col-sm gtco-heading text-center">  
                                    <a href="/logincadastro">
                                      <h2 id="hfonte" class>Cadastrar</h2>
                                        <p>Register</p>
                                          <div class="icon-us">
                                            <i class="fas fa-check"></i>
                                          </div></a>     
                                  </div>                                 
                                </div>
                              <br><br>  
                            </div>

                          </form>  
                        </div>
                      </div>
                  </div>
                          
              </div>
                        
          </div>
                 
        </div>

    </div>  
</div>

<div class="container">

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      
      <img src="images/mates/Produtos.jpeg" alt="Produtos" >
      <h3 class="cursive-font text-success display-4">Nunca foi tão rentável ser consciente!</h3>
    </div>
    <div class="carousel-item">
      
      <img src="images/mates/Premios.jpeg" alt="Premios" >
      <h3 class="cursive-font text-success display-4">O que você coletar podem virar prêmios!</h3>
    </div>
    <div class="carousel-item">
      <img src="images/mates/Parceiros.jpeg" alt="Parceiros" >
      <h3 class="cursive-font text-success display-4">São diversos parceiros para te atender!</h3>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

        <div class=" row  " style="padding-top: 4em;">
          <div class="pontos col-sm text-right">
            <img src="images/logue.jpeg" width="">
          </div>
        </div>
      </div>

 
 <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

<style>
   
   .icon-us {
	  font-size: 50px;
	
  }

  .icon-us i:hover {
	font-size: 70px;
  text-decoration: none;
  }

  a {
    color: #00a65a;
  }

  a:hover {
    color: #124930;
    text-decoration: none;
  }
   
  .btn {
    margin: 20px;
    margin-top: 0;
  }
   

    title h2, h3{
        padding-top: 30px;
        text-align: center;
    }

.logo {
  padding-left: 100px;
}

.topo {
  background-color: #D2FFD2;
}

.pontos {
  width: 200px;
}
   
</style>

