<div class="gtco-section" style="padding-bottom: 14em;">
    <div class="gtco-container">
        <div class="row animate-box">
       
        <div class="title text-center col-lg-12 col-md-12 col-sm-12">
            <h2 class="cursive-font text-success display-2">Nunca foi tão rentável ser consciente!</h2>
            <h3 >Reclique o máximo que puder e troque por diversos prêmios e descontos com nossos parceiros!</p>
        </div>   
                <div class="imagem text-center"> 
                    <img src="images/mates/Premios.jpeg" class="img-fluid" alt="imagem responsiva">
                </div>
        </div>
        

    </div>
    
    
</div>
              

<style>
   
   .row {
    
        text-align: center;
        text-align: center;
    }

    .imagem {
        padding-top: 30px;
        
        text-align: center;
    }

    title h2, h3{
        padding-top: 30px;
        text-align: center;
    }

   
</style>