<div class="gtco-section" style="padding-bottom: 1em;">
    <div class="gtco-container">
        <div class="row animate-box">


            <div class="maiscoleta text-center">
                <div class="">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center ">
                            <hr style="height:4px;border:none;color:#333;background-color:#333;" />
                            <img src="images/coleta-menor.png" width="150px">
                            <div class="text-dark display-4 p-5 text-justify">
                            <p class="font-arial" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fundada em Janeiro de 2018, por três sócios, a startup foi inicialmente um vislumbre, mas, que graças aos esforços de todos se tornou real. A ideia que era a princípio superficial, foi tomando forma até se tornar tateável. Foi difícil acreditar no início que tudo isso poderia acontecer, mas hoje, enfim, firmamos os nossos pés e viemos para ficar.</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Há muito tempo, o nosso trabalho incansável tem retornado frutos, pois, o entendimento foi que, as pessoas já têm todas as informações que precisam para fazer uma seleção consciente, mas, estava faltando algo. Como Empresa, entendemos que a motivação que estava faltando era a de premiar as pessoas por isso, e, não somente censurar para que tivessem uma atitude mais racional. Então, com a contribuição de parceiros, chegamos ao meio termo que faltava para aliar o útil ao agradável.</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hoje, com diversos associados, chegamos a um número absurdo de contribuições. Foi mesmo uma estratégia muito bem estudada e trabalhada. É por isso que estamos aumentando as nossas ofertas e apresentando novas oportunidades, navegando pela nossa plataforma vai perceber que você tem muito mais a ganhar, ser consciente ecologicamente nunca foi tão rentável. Vamos juntos fazer isso dar certo, contamos com vocês!</p></div>
                            <hr style="height:4px;border:none;color:#333;background-color:#333;" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="h1 bg-dark border-info">
    <h1 class="h1 text-center" id="pageHeaderTitle">Breve Apresentação</h1></div>
