
	<section class="dark">
		<div class="container py-4">
			<article class="postcard dark blue">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="images/Max_Perfil.jpg" alt="Image Title" />
				</a>
				<div class="postcard__text">
					<h1 class="h1 postcard__title "><a href="#">Maximilian Augusto</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2021-10-10 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, Oct 10th 2021
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">" - Tenho o sonho de me tornar desenvolvedor de software, por esse motivo, abri mão de uma carreira de mais de 10 anos em postos de combustíveis, ingressando assim na área de TI, desejo que começou a tomar forma nos meus primeiros passos para o mercado de trabalho. Cursando hoje o Ensino superior de Ciências da Computação, percebi logo que qualquer oportunidade na área de tecnologia poderia me ajudar a crescer, não importando o quão trabalhoso fosse. Desenvolver esse site, pode ser com certeza a porta de entrada que tanto sonhei. Espero que com a ajuda de Deus e meus colegas colabores, eu esteja mais perto!"</div>
					<ul class="">
						<li class="tag__item"><i class="fa-facebook-official"></i>Facebook</li>
						<li class="tag__item"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin</li>
						<li class="tag__item"><i class="fa fa-linkedin" aria-hidden="true"></i>Instagram</li>
					</ul>
				</div>
			</article>
	</section>

	<section class="light">
		<div class="container py-2  text-right">
			

			<article class="postcard light blue">
				
				<div class="postcard__text t-dark ">
					<h1 class="postcard__title blue"><a href="#">Angélica Ribeiro</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2021-10-10 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, Oct 10th 2021
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">" - Atualmente trabalho como Analista de Sistemas/Infraestruturas, foi a área que me  melhor me adequei, foi onde escobri a minha vocação e entendi o que é estar trabalhando com o que realmente se gosta. Almejo me tornar uma profissional na área de DevOps, onde no futuro quero estar bem estruturada, tenho estudado bastante para isso. Ao longo desses 4 anos na faculdade conheci muitos amigos, gênios da computação com quem aprendi muita coisa, pessoas que me motivaram a continuar no meu sonho. Estou focada e sei que o futuro me reserva boas oportunidades."</div>
					<ul class="">
						<li class="tag__item"><i class="fa-facebook-official"></i>Facebook</li>
						<li class="tag__item"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin</li>
						<li class="tag__item"><i class="fa fa-linkedin" aria-hidden="true"></i>Instagram</li>
					</ul>
				</div>
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="images/Angelica_Perfil.jpeg" alt="Image Title" />
				</a>
			</article>
	</section>
	<section class="dark">
		<div class="container py-4">
			<article class="postcard dark blue">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="images/Hudson_Perfil.jpeg" alt="Image Title" />
				</a>
				<div class="postcard__text">
					<h1 class="h1 postcard__title "><a href="#">Hudson Ruan</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2021-10-10 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, Oct 10th 2021
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">" - Militar, da força aérea, gosto muito da área de tecnologia. É a área que tenho mais afinidade e interesse. Tenho foco em desenvolver aplicações para desktop e androids, para contribuir o máximo possível com serviços que facilitem o trabalho das pessoas. Quero com meu conhecimento, fazer a diferença, e sei que na área de tecnologia é o por onde posso fazer isso!"</div>
					<ul class="">
						<li class="tag__item"><i class="fa-facebook-official"></i>Facebook</li>
						<li class="tag__item"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin</li>
						<li class="tag__item"><i class="fa fa-linkedin" aria-hidden="true"></i>Instagram</li>
					</ul>
				</div>
			</article>
	</section>

<style>


/* This pen */
body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}

.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

}
	
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    
  }

 
@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

  }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 200px;
      max-height: 50%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 70%;
      width: 25px;
    }
}

</style>