<div class="gtco-section" style="padding-bottom: 6em;">
    <div class="gtco-container">
        <div class="row animate-box"> 

            <div class="title text-center col-lg-12 col-md-12 col-sm-12">
                <h2 class="cursive-font text-success display-2">Nossa Localização</h2>
                <h3>São 3 pontos de coletas bem distribuídos para você trocar seus pontos</h3>
             
                
                <div class="col-lg-6 col-md-12 bg-info">
                    <div>
                        <h3 class="font-cursiva">Estrutural Cidade do Automóvel</h3>
                    </div>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d12913.598262794489!2d-47.98443990886785!3d-15.791519312283372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d-15.788810699999999!2d-47.9801996!5e0!3m2!1spt-PT!2sbr!4v1630103132632!5m2!1spt-PT!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <br><br><br><br>
                    </div>
                </div>
                
                                        
                <div class="col-lg-6 col-md-12 bg-warning">
                    <div>
                        <h3>Gama Setor Sul</h3>
                    </div>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d3834.497782314618!2d-48.06507676179918!3d-16.039638410664203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d-16.0396848!2d-48.0647442!5e0!3m2!1spt-PT!2sbr!4v1630073660550!5m2!1spt-PT!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <br><br><br><br>
                    </div>
                </div>
                
                  
                <div class="local col-lg-6 col-md-12 bg-success">
                    <div>
                        <h3>Ceilândia Norte St Industria</h3>
                    </div>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d30711.531083271624!2d-48.15127321043356!3d-15.807044397284649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d-15.7936239!2d-48.1559081!5e0!3m2!1spt-PT!2sbr!4v1630074070067!5m2!1spt-PT!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <br><br><br><br>
                    </div>
                </div>
                
                   
                <div class="local col-lg-6 col-md-12 bg-dark">
                    <div>
                        <h3 class="display-3 text-light">Tem muita coisa para coletar?</h3>
                    </div>
                    <div>
                        <h3><a href="/reservations">Clique aqui e agende uma visita para buscarmos gratuitamente para você!</a></h3>
                        <br><br><br><br>
                    </div>
                </div>
                
            </div>
        </div>  
    </div>
</div>